@page
@model CreateModel
@{
	ViewData["Title"] = "Add Sessions";
}

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2 class="text-center">Add Sessions</h2>
    </div>
    <form method="post">
        <input type="hidden" asp-for="Session.MovieId" />

        <div>
            <label asp-for="Session.StartTime"></label>
            <input asp-for="Session.StartTime" type="datetime-local" />
        </div>
        <div>
            <label asp-for="Session.EndTime"></label>
            <input asp-for="Session.EndTime" type="datetime-local" />
        </div>

        <button type="submit" class="btn btn-secondary">
            <i class="bi bi-person-plus-fill"></i> Save
        </button>
        <a asp-page="/Movies/Schedule" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle-fill"></i> Back to List
        </a>
    </form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}